Options -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(rut)$ /home.php [NC,L,QSA]
RewriteRule ^(login)$ /view/index.php [NC,L,QSA]
RewriteRule ^(dashboard)$ /view/dashboard.php [NC,L,QSA]
RewriteRule ^(api/updateConfirmBooking)$ /view/Booking/updateConfirmBooking.php [NC,L,QSA]
RewriteRule ^(api/getAllBookingToday)$ /view/Booking/getAllBookingToday.php [NC,L,QSA]
RewriteRule ^(api/getAllBookingDashboard)$ /view/Booking/getAllBookingDashboard.php [NC,L,QSA]
RewriteRule ^(api/updateBoxBooking)$ /view/Booking/updateBoxBooking.php [NC,L,QSA]
RewriteRule ^(api/updateBoxLoginUser)$ /view/BoxUser/updateBoxLoginUser.php [NC,L,QSA]
RewriteRule ^(api/validateUser)$ /view/login/validateUser.php [NC,L,QSA]
RewriteRule ^(api/getAllUsers)$ /view/User/getAllUser.php [NC,L,QSA]
